# 选项告诉npm在安装软件包时，将所有依赖项提升到顶层，而不是将它们安装在各自的模块中。这可以减少软件包之间的重复依赖项，从而减小项目的体积。
shamefully-hoist=true

# 选项允许你在安装软件包时忽略对等依赖项的版本限制。默认情况下，npm会强制执行对等依赖项的版本限制，这可能会导致一些软件包无法安装或者出现错误。通过将该选项设置为false，你可以解决这些问题，但需要注意潜在的风险。
strict-peer-dependencies=false
